<% cache columns do %>
  <%= turbo_frame_tag :cards_container do %>
    <div class="card-columns" data-controller="collapsible-columns" data-collapsible-columns-collapsed-class="is-collapsed">
      <div class="card-columns__left">
        <%= render "cards/index/engagement/on_deck", column: columns.on_deck %>
      </div>

      <%= render "cards/index/engagement/considering", column: columns.considering %>

      <div class="card-columns__right">
        <% if workflow = columns.user_filtering.single_collection.workflow %>
          <% workflow.stages.each do |stage| %>
            <%= render "cards/index/engagement/doing", column: columns.doing, stage: stage %>
          <% end %>
        <% else %>
          <%= render "cards/index/engagement/doing", column: columns.doing %>
        <% end %>

        <%= render "cards/index/engagement/closed", column: columns.closed %>

        <button class="btn btn--circle txt-x-small borderless">
          <%= icon_tag "menu-dots-horizontal" %>
          <span class="for-screen-reader">Add a new column, etc.</span>
        </button>
      </div>
    </div>
  <% end %>
<% end %>
