<% @page_title = @bubble.title %>

<% content_for :header do %>
  <nav>
    <%= link_to bucket_bubbles_path(@bubble.bucket), class: "btn flex-item-justify-start" do %>
      <%= image_tag "arrow-left.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">All Bubbles</span>
    <% end %>

    <section class="flex flex-column align-end gap">
      <%= render "bubbles/pop_toggle", bubble: @bubble %>
      <%= turbo_frame_tag dom_id(@bubble, :stage_picker), src: new_bucket_bubble_stage_picker_path(@bubble.bucket, @bubble) %>
    </section>
  </nav>
<% end %>

<%= cache @bubble do %>
  <div class="bubble__perma flex justify-center center margin-block-end-double">
    <%= render "bubbles/bubble", bubble: @bubble %>
  </div>

  <%= render "bubbles/thread", bubble: @bubble %>
<% end %>
